

<mat-grid-list cols="1" *ngIf="!heroe; else divHeroe">
    <mat-grid-tile> 
        <mat-spinner>
        </mat-spinner>
    </mat-grid-tile>
</mat-grid-list>


<ng-template #divHeroe>
    <div fxLayout="row" fxFlex.xs="column" fxLayoutGap="30px">
        <mat-card  fxFlex="50">
            <div>
                <mat-card-title>{{heroe.superhero}}:  <small>--{{heroe.alter_ego}}</small></mat-card-title>
                <mat-divider></mat-divider>
                <hr>
                <img [src]="heroe | imagen">
            </div>
        </mat-card>
        <mat-card fxFlex="50">
            <div >
                <h1>{{heroe.publisher}}</h1>
                <mat-divider></mat-divider>
                <mat-list>
                    <mat-list-item>{{heroe.first_appearance}}</mat-list-item>
                    <mat-list-item>{{heroe.characters}}</mat-list-item>
                    <mat-list-item>{{heroe.publisher}}</mat-list-item>
                    <mat-list-item>{{heroe.alter_ego}}</mat-list-item>
                    <mat-list-item>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Molestiae veniam optio magni recusandae illum dicta cum quam consectetur magnam 
                        ut sequi fugit, numquam harum id in neque temporibus similique distinctio!</mat-list-item>
                    </mat-list>
                <br>
                <button mat-button color="warn" (click)="regresar()" mat-icon-button >
                    <mat-icon>undo</mat-icon>
                    Regresar
                </button>
            </div>
        </mat-card>
    </div>  
        
    
</ng-template>

